.main {
  width: 2663px;
  height: 1499px;
  background-image: url(../../images/main\ page.png);
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
}
