body {
  background-image: url(./images/a.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: "center";
  display: flex;
  justify-content: center;

}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App {
  position: relative;
}
