.Ab{
    max-width:2500px;
    margin: 0 auto;
    width: 100%;
    padding: 0 15px;
}
/* @media (max-width: 1320px){
    .Ab{
        max-width: 970px;
    }
    
}
@media (max-width: 992px){
    .Ab{
        max-width: 750px;
    }
    
}
@media (max-width: 767px){
    .Ab{
        max-width: none;
    }
    
} */